# Python bytecode
*.pyc
__pycache__/  # This ignores __pycache__ directories anywhere
*.pyd
*.pyo
*.egg
*.egg-info/
.eggs/

# Jupyter Notebook files
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*-checkpoint.ipynb
**/*-checkpoint.ipynb

# Distribution / packaging
.Python
build/
dist/
venv/
env/

# Editors and IDEs
.vscode/
.idea/
*.swp
*.bak
*~
.DS_Store # macOS specific